{% extends 'base.html' %}
{% block body_block %}
<div class="page-header">
	<h1>Hello World to Continuous Delivery - HarveyNash Vietnam</h1>
	<h1><b>Hello World to Continuous Delivery - HarveyNash Vietnam</b></h1>
</div>
{% endblock %}